body {
    background-color: white;
}

#container {
    width: 100%;
    
}

#body {
    padding: 0 15px;
    height: 568px;
    background-color: #fff;
     
}

object {
    width: 100%;
    height: 100%;
} 

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
} 

@media(min-width:768px) {
    #body {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
      
    }
}

.navbar-top-links {
    margin-right: 0;
    background-color: #466bb0;

}

.navbar-top-links li {
    display: inline-block;

}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 22px;
    min-height: 60px;
}

.navbar-top-links .dropdown-menu li {
    display: block;

}
.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
    min-height: 705px;
    font-family: 'Lora';
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
    font-family: 'Lora';
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
    font-family: 'Lora';
}

.navbar-default .navbar-brand{
    background-color: #466bb0;
    font-weight: bold;
    font-size: 23px;
    padding: 20px;
    color: white;
    font-family: 'Lora';

}
.btn.dropdown-toggle{
    padding: 0px;
}

.navbar-default .navbar-brand:hover{
    color: orange;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 66px;
    }
}
@media(min-width:568px) {

#back {
    position: absolute;
    right: 9%;
    top: 91%;
}

#refresh {
    position: absolute;
    right:14%;
    top: 91%;
}

#next {
    position: absolute;
    right:4%;
    top: 91%;
}
}

.navbar-default {
    background-color: #466bb0;
    border-color: #e7e7e7;

}

a {
    color: white;
    font-family: 'Lora';

}

#beta{
    color: #CC6633;
    font-family: 'Lora';
    font-size: 15px; 

}

#head {
    height: auto;
}

.name {
    padding-right: 40px;
    text-decoration: none;
    display: inline;
    pointer-events: none;
    cursor: default;
  
}

.cell {

    margin-right: -23px;
    display: inline;
    pointer-events: none;
    cursor: default;
    
}

.list {
    color: black;
    margin-right: 10px;
}

abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

@media screen and (max-width: 567px){
#back {
    position: absolute;
    right: 15%;
    top: 90%;
}

#refresh {
    position: absolute;
    right:26%;
    top: 90%;
}

#next {
    position: absolute;
    right:4%;
    top: 90%;
}

#image {
    margin-left: 40%;
}

#body {
    margin-top: 20%;

}
.btn.dropdown-toggle{
    padding: 0px;
}
}



